{% extends 'base.html' %}

{% block body %}

<h1>{{ user.username }}</h1>

<dl>
  <dt>First Name:</dt>
  <dd>{{ user.first_name }}</dd>

  <dt>Last Name:</dt>
  <dd>{{ user.last_name }}</dd>

  <dt>Email:</dt>
  <dd>{{ user.email }}</dd>
</dl>

<form action="/users/{{ user.username }}/delete" method="POST">
  <button type="submit" class="btn btn-danger">Delete User</button>
</form>

<h3 class="mt-4">Feedback</h3>
<p><a href="" class="btn btn-success btn-sm">Add Feedback</a></p>

<ul class="list-unstyled">
  {% for feed in user.feedback %}
    <li>
      <h4>{{ feed.title }}</h4>
      <p>{{ feed.content }}</p>
      <form action="/feedback/{{ feed.id }}/delete" method="POST">
        <a href="/feedback/{{ feed.id }}/update" class="btn btn-primary btn-sm mr-1">Edit</a>
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
    </li>
  {% endfor %}
</ul>

{% endblock %}